# heading
##### heading
- p1 
    - p2

# some basic oprection

In [ ]:
#arithmetic
a=5
b=7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

12
-2
35
0.7142857142857143
5
0
78125

In [23]:
c=17

In [ ]:
#boolean function
a<b and b<c

True

In [25]:
a>b or b>c

False

In [26]:
not(a<b and b<c)

False

# list

In [27]:
l1=['apple','banana','cherry','kewi']
'banana' in l1

True

# tupple

In [28]:
t1=('apple','banana','cherry','kewi')       
print(t1)

('apple', 'banana', 'cherry', 'kewi')

In [29]:
l1=['apple','banana','cherry','kewi']
print(l1)

['apple', 'banana', 'cherry', 'kewi']

# dic

In [30]:
d1={
    'NAME':'shristi',
    'CLASS': 2,
    'AGE':21,
    'marks':89
    
}
print(d1)

{'NAME': 'shristi', 'CLASS': 2, 'AGE': 21, 'marks': 89}

# candition
## if candition

In [31]:
marks=88
if marks >= 90:
    print("a+")
if marks >= 80:
    print("a")
if marks >= 70:
    print("b")
if marks < 60:
    print("fail")

a
b

## if elif else

In [32]:
marks=88
if marks >= 90:
    print("a+")
elif marks >= 80:
    print("a")
elif arks >= 70:
    print("b")
elif marks < 60:
    print("fail")
else:
    print("inivalid")

a

# if elif

In [33]:
age=20
if age >= 18:
    print(" yes")
elif age < 18:
    print ("no")

 yes

# check the type

In [34]:
type(d1)

dict

In [35]:
x=40
y= str(x)
print(y)
type(y)

40

str

# some basic questions with solve

In [38]:
#check wither two side of tringle is equal or not
s1=int(input("enter the  side 1 :"))
s2=int(input("enter the side 2 :"))
s3=int(input("enter the side 3 :"))
if s1==s2 or s1==s3 or s3==s2:
    print("two sides of triangle is equal")
else:
    print("two sides of tringle is not equal")

two sides of triangle is equal

In [39]:
#check whether a triangle is an equilateral triangle or iscoceles triangle
t1=int(input("enter the side 1:"))
t2=int(input("enter the side 2 :"))
t3=int(input("enter the side 3 :"))
if t1==t2 and t2==t3 and t3==t1:
    print("triangle is equilateral triangle")
elif t1==t2 or t1==t2 or t3==t2:
    print("tringle is iscoceles triangle")
else:
    print("it is normal triangle")

it is normal triangle

In [ ]:
#check whether a character entered by user is vowel or not
ah=str(input("enter a chareacter:"))
if a in ['a','e','i','o','u','A','E','I','O','U']:
    print(" the chareacter is vowel")
else:
    print("the enter chareacter is not vowel")

 the chareacter is vowel

In [ ]:
#check whether a year is a leap year or not
year=int(input("enter the year"))
if (year % 400==0) and (year%100!=0):
    print("the year is leap year",year)
elif (year % 4==0):
    print("the year is leap year")
else:
    print("it is not leap year")

the year is leap year

In [48]:
#check whether a number is even or odd
num=int(input("enter the number"))
if num % 2==0:
    print("the number even")
else:
    print("the number is odd")

the number even

In [50]:
#calculate the gross salary of an employee where the basic salary is 50,000, 
# HRA is 5% of basic salary and DA is 10% of basic 
salary=50000
hra=salary*0.05
da=salary*0.10
gs=hra+da+salary
print(hra)
print(da)
print( "the total gross salary is:")
print(gs)

2500.0
5000.0
the total gross salary is:
57500.0

# nested if
- if(candition 1)
    - if (candition2)
        - if (candition3)

In [17]:
username=input("enter your user name:")
email=input("enter your email:")
password=input("enter your password")
cpss=input("enter your canfirm password")
if len(username)>=8 and len(username)<=20:
    if '@' in email and len(email)>=8:
        if len(password)>=10 and len(password)<=20:
            if password==cpss:
                print("Registration successful ðŸŽ‰ ")
            else:
                print("password is incorrect")
        else:
            print("password must be 10 and 20 characters")
    else:
        print("invalid email")
else:
    print("user name must be 8 0r 20 charecter")

password is incorrect

# loops (for,while)

# for

In [73]:
fruites=['apple','banana','cherry','date','elderberry']
for i in fruites:
    print(i)
    # for horizontal with space or any symbol
    print(i,end='_')

apple
apple_banana
banana_cherry
cherry_date
date_elderberry
elderberry_

In [71]:
for i in range (6):
    print(i)

0
1
2
3
4
5

In [74]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [78]:
for i in range (10):
    print('shristi')

shristi
shristi
shristi
shristi
shristi
shristi
shristi
shristi
shristi
shristi

In [79]:
for i in range (0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [84]:
for i in range (1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

# while

In [3]:
i=0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [4]:
i=0
while i<=10:
    print('shristi')
    i+=1

shristi
shristi
shristi
shristi
shristi
shristi
shristi
shristi
shristi
shristi
shristi

In [9]:
i=0
while i<=20:
    if i%2==0:
        print(i)
    i=i+1

0
2
4
6
8
10
12
14
16
18
20

In [10]:
i=0
while i<=20:
    if i%2!=0:
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

# break and continue

In [16]:
#break
fruites=['apple','banana','cherry','date','elderberry','onion','banana','kiwi','apple']
for i in  fruites:
    if i=='onion':
        break
    print(i)

apple
banana
cherry
date
elderberry

In [ ]:
#continue
fruites=['apple','banana','cherry','date','elderberry','onion','banana','kiwi','apple']
for i in  fruites:
    if i=='onion':
        continue
    print(i)

apple
banana
cherry
date
elderberry
banana
kiwi
apple

In [ ]:
a=10
b=5
sum =a+b
print(f'sum of {a} and {b} is {sum}')
print("sum of ")

sum of 10 and 5 is 15